body {
    font-family: "Dank Mono", ui-monospace, monospace;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
    width: calc(100vw - 20px);
}

.header {
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    padding-top: 15px;
    padding-left: 24px;
    padding-bottom: 10px;
}

.searchbar {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    align-items: center;
}

.searchbar > .bar {
    background-color: rgb(220, 220, 228,0.6);
    width: 80%;
    height: 60%;
    border-radius: 1em;
}

.currentProfile {
    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr; */
    justify-content: flex-end    ;
    align-items: center;
    margin-right    : 20px;
}


img {
    height: 48px;
    margin: 0 25px;
}

.currentProfile > p {
    font-weight: 600;
}

.hiThereProfile {
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 1fr 1fr;
}

.hiThereProfile > img {
    margin-top: 20px;
    height: 84px;
    grid-row-start: 1;
    grid-row-end: 3;
}

.small {
    display: flex;
    align-items: flex-end;
    font-size: 10px;
    font-weight: 600;
}

.userEduard {
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: 22px;
}

.headerButtons {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 35px;
}

.btn {
    border-radius: 1em;
    border-style: none;
    background-color: #0ea5e9;
    color: white;
    font-weight: 700;
    font-size: 16px;
    padding: 10px 30px;
}

.btn:hover {
    background-color: #0a73a3;
}



.sidebar {
    height: 100%;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: #0ea5e9;
}

.dashboard {
    display: flex;
    align-items: center;
    margin: 10px 24px;
    font-size: 24px;
    font-weight: 600;
    color: white;
}

.userUtilities, .userSettings {
    display: grid;
    margin-top: 30px;
    margin-left: 42px;
}

.userUtilities > a, .userSettings > a {
    margin-top: 24px;
    color: white;
    font-weight: 600;
    text-decoration: none ;
}

.userUtilities > a > iconify-icon, .userSettings > a > iconify-icon {
    margin-right: 12px;
}

.userUtilities > a:hover, .userSettings > a:hover {
    color: black;
}

.main-content {
    background-color: rgb(220, 220, 228,0.6);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-top: 30px;
    padding-left: 24px;
}

.main-content > .projects {
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 30px;
}

.projects > .projectCard {
    margin-top: 12px;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    padding: 20px;
    border: 2px solid grey;
    border-left: 5px solid orange;
    border-right: 5px solid orange;
    border-radius: 1em;
    background-color: white;
}

.projectCard > h3 {
    font-weight: 600;
}

.projectCard > p {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.7);
}

.projectCard > .projectSymbols {
    justify-self: end;
}

.projectSymbols > a {
    margin-left: 20px;
}

.announcements {
    display: grid;
    grid-template-rows: 1fr 7fr;
    grid-template-columns: 0.8fr;
    padding-left: 40px;
}

.announcements > .news {
    border: 2px solid grey ;
    border-radius: 1em;
    background-color: white;
}

.announcements > p {
    font-weight: 600;
    margin-bottom: 24px;
}

.announcementCard {
    margin-top: 30px;
    margin-left: 24px;
}

.announcementCard > h3 {
    font-weight: 700;
}

.announcementCard > p {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 5px;
}

.trending {
    display: grid;
    grid-template-columns: 0.8fr;
    grid-template-rows: 1fr 3fr;
    padding-left: 40px;
}

.trending > .title {
    font-weight: 600;
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
}

.trending > .users {
    border: 2px solid grey ;
    border-radius: 1em;
    background-color: white;
}

.userCard {
    margin: 24px 10px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 2fr;
}

.userCard > img {
    grid-row-start: 1;
    grid-row-end: 3;
}

.userCard > a {
    text-decoration: none;
    color: black;
}

.userCard > p {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 5px;
}

